<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Subscriptions Array</mat-card-title>
    <mat-card-subtitle>{{content.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{content.imgUrl}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>{{content.description}}</p>
    <p><a href="https://stackoverflow.com/questions/45087291/unsubscribing-an-array-of-subscriptions">Reference</a></p>
  </mat-card-content>
</mat-card>
