<mat-tab-group>
  <mat-tab label="Autounsusbcribe Decorator"><app-autounsubscribe-example></app-autounsubscribe-example></mat-tab>
  <mat-tab label="Rxjs Opertors"><app-rxjs-example></app-rxjs-example></mat-tab>
  <mat-tab label="Subscriptions Array"><app-subscribe-array-example></app-subscribe-array-example></mat-tab>
  <mat-tab label="Unsubscribing each subscription"><app-subscribe-each-example></app-subscribe-each-example></mat-tab>
  <mat-tab label="Subsink"><app-subsink-example></app-subsink-example></mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
